body {
    background-color: #d46ce7;
}

/************************* Header **************************/
.header {
  background-color: #e9f259;
}
.logo {
  width: 350px;
  height: auto;
}
.nav {
  float: right;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 20px;
}
.nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: #89aee1;
  border-radius: 5px;
}
.nav ul li:hover {
  background-color: #d46ce7;
  color: #e9f259;
}
.nav ul li a {
  color: black;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #e9f259;
}

/************************* Main Page **************************/

                /*********** store ***********/
.page-logo {
  width: 44%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.store-items {
  text-align: center;
}
.games button.add {
  background-color: #89aee1;
  border-color: #89aee1;
}
.games button.add:hover {
  background-color: #9effb8;
}
                      /***** games *****/
form.games {
  margin-bottom: 70px;
}
.games {
  margin-left: 130px;
  float: left;
}
.gameInfo {
  margin-top: 30px
}
.games p.title{
  font-size: 21px;
}
.games p.deets{
  font-size: 18px;
}
.games p.price{
  font-size: 18px;
}
.nin-games, .playstation {
  width: 300px;
  height: 200px;
}
.wiiGames {
  width: 200px;
  height: 200px;
}

                   /***** cds *****/
form.cds {
 margin-bottom: 70px;
}
.cds {
 margin-left: 60px;
 float: left;
}
.cds img {
  width: 200px;
  height: 200px;
  margin-left: 70px;
}
.cds button.add {
  background-color: #89aee1;
  border-color: #89aee1;
  margin-top: 250px;
  margin-left: -190px;
}
.cds button.add:hover {
  background-color: #9effb8;
}
.cdInfo {
  margin-top: 30px;
}
.cds span p{
  margin-left: 100px;
}
.cds p.title{
  font-size: 21px;
}
.cds p.artist{
  font-size: 18px;
}
.cds p.price{
  font-size: 18px;
}



                /*********** cart ***********/
.cart-logo {
  width: 37%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cartContainer {
  background-color: #7cf4d3;
  padding: 20px;
  width: 70%;
  margin: auto;
  height: 400px;
  margin-bottom: 100px;
}
.cartContainer form ul li {
  list-style-type: none;
}
.removeLink {
  margin-left: 700px;
  margin-top: -30px;
}
.checkout {
  margin-top: 100px;
   width: 20%;
   margin-left: 350px;
}
.cartPrice {
  margin-left: 550px;
  margin-top: -70px;
}
.cartContainer button {
  background-color: #89aee1;
  width: 20%;
  margin-top: 100px;
  margin-left: 390px;
}
.cartContainer button:hover {
  background-color: #d46ce7;
  color: #e9f259;
}
                /*********** checkout ***********/
.checkout-logo {
  width: 37%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.success {
  text-align: center;
}
.checkoutContainer {
  background-color: #7cf4d3;
  padding: 20px;
  width: 70%;
  margin: auto;
  height: 400px;
  margin-bottom: 100px;
}
