body {
    background-color: #d46ce7;
}

/************************* Header **************************/
.header {
  background-color: #e9f259;
}
.logo {
  width: 350px;
  height: auto;
}
.nav {
  float: right;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 20px;
}
.nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: #89aee1;
  border-radius: 5px;
}
.nav ul li:hover {
  background-color: #d46ce7;
  color: #e9f259;
}
.nav ul li a {
  color: black;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #e9f259;
}

/************************* Main Page **************************/

                /*********** store ***********/
.page-logo {
  width: 44%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.store-items {
  text-align: center;
}
.addBtn {
  background-color: #89aee1;
  border-color: #89aee1;
  color: black;
}
.addBtn:hover {
  background-color: #e9f259;
  border-color: #e9f259;
  color: #d46ce7;
}

                      /***** games *****/
.ngShow {
  margin-left: 30px;
}
form.games {
  margin-bottom: 70px;
}
.games {
  margin-left: 130px;
  float: left;
}
.gameInfo {
  margin-top: 30px
}
.games p.title{
  font-size: 21px;
}
.games p.deets{
  font-size: 18px;
}
.games p.price{
  font-size: 18px;
}
.nin-games, .playstation {
  width: 300px;
  height: 200px;
}
.wiiGames {
  width: 200px;
  height: 200px;
}

                   /***** cds *****/
form.cds {
 margin-bottom: 70px;
}
.cds {
 margin-left: 190px;
 float: left;
}
#allCDs {
  margin-top: 590px;
  margin-left: -50px;
}
.cds img {
  width: 200px;
  height: 200px;
  margin-left: 45px;
}
.cdInfo {
  margin-top: 30px;
  margin-left: 70px;
}
.cds p.title{
  font-size: 21px;
  margin-left: -20px;
}
.cds p.artist{
  font-size: 18px;
  margin-left: -20px;
}
.cds p.price{
  font-size: 18px;
  margin-left: -20px;
}



                /*********** cart ***********/
.show{
  background-color: #9effb8;
  border-radius: 5px;
}
.empty-cart{
  font-size: 20px;
}
.cart-logo {
  width: 37%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cartContainer {
  background-color: #7cf4d3;
  padding: 20px;
  width: 70%;
  margin: auto;
  height: 400px;
  margin-bottom: 100px;
}
.cartContainer a {
  font-size: 17px;
  margin-left: 490px;
}
                /*********** checkout ***********/
.checkout-logo {
  width: 37%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.checkout-btn {
  margin-left: 700px;
  margin-top: -80px;
  float: left;
}
.checkoutContainer {
  background-color: #7cf4d3;
  padding: 20px;
  width: 70%;
  margin: auto;
  height: 400px;
  margin-bottom: 100px;
}
