<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>

<div class="wrapper"><!-- beginning of wrapper -->

  <div class="header"> <!-- beginning of header -->
    <a href="/#/"><img class="logo" src="assets/img/logo_v1.png"></a>
    <div class="nav">
      <ul>
        <li><a href="/">STORE</a></li>
        <li><a href="/cart">VIEW CART</a></li>
        <li><a href="/checkout">CHECKOUT</a></li>
      </ul>
    </div>
  </div> <!-- end of header -->

  <div class="cart-logo"> <!-- beginning of logo div -->
    <img src="assets/img/cart_logo.png">
  </div> <!-- end of logo div -->

  <div class="cartContainer"> <!-- beginning of cartContainer -->
    <form>
      <ul>
        <li ng-repeat="item in cartItems">
          <div class="cartTitle"><h3>{{ item.title }}</h3></div>
          <div class="cartDeets"><h3>{{ item.details }}</h3></div>
          <div class="cartPrice"><h3>{{ item.price }}</h3></div>
          <div class="removeLink">
            <a class="two" href="" ng-click="removeEntry(item)">Remove From Cart</a>
          </div>
        </li>
      </ul>
      <button type="submit" ng-click="goToCheckout()" class="btn btn-lg toCheckout">Ready To Checkout</button>
    </form>
  </div> <!-- end of cartContainer -->

</div> <!-- end of wrapper -->
