<div class="wrapper">

  <div class="header">
    <a href="/#/"><img class="logo" src="assets/img/logo_v1.png"></a>
    <div class="nav">
      <ul>
        <li><a href="/">STORE</a></li>
        <li><a href="/cart">VIEW CART</a></li>
      </ul>
    </div>
  </div>

  <div class="page-logo">
    <img src="assets/img/store_logo.png">
  </div>

  <!-- all store items -->
  <div class="store-items"> <!-- begging of store items div -->
    <!-- Games -->
    <div ng-repeat="game in gameItems">
       <form class="games" ng-click="signInUser()" id="{{game.id}}">
         <img class="nin-games" ng-src="{{game.image}}">
           <div class="gameInfo">
             <span><p name="title" class="title" ng-model="store.title">{{game.title}}</p></span>
             <span><p name="deets" class="deets" ng-model="store.details">{{game.details}}</p></span>
             <span><p name="price" class="price" ng-model="store.price">${{game.price}}</p></span>
           </div>
           <div class="ngShow">
             <ngcart-addtocart id="{{ game.id }}" name="{{ game.title }}" price="{{ game.price }}" quantity="1" quantity-max="1" class="add2cart-btn">Add To Cart</ngcart-addtocart>
           </div>
      </form>
    </div>
  </div> <!-- end of store items div -->

  <div class="store-items" id="allCDs">
    <!-- CDS -->
    <div ng-repeat="cd in cdItems">
       <form class="cds" ng-click="signInUser()" id="{{cd.id}}">
         <img class="cd" ng-src="{{cd.image}}">
           <div class="cdInfo">
             <span><p name="title" class="title">{{cd.title}}</p></span>
             <span><p name="artist" class="artist">{{cd.artist}}</p></span>
             <span><p name="price" class="price">${{cd.price}}</p></span>
           </div>
           <div class="ngShow">
             <ngcart-addtocart id="{{ cd.id }}" name="{{ cd.title }}" price="{{ cd.price }}" quantity="1" quantity-max="1" class="add2cart-btn">Add To Cart</ngcart-addtocart>
          </div>
      </form>
    </div>
  </div>

</div> <!-- end of wrapper -->
