
<div ng-if="service=='http' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
</div>


<div ng-if="service=='paypal'">
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_blank" ng-show="ngCart.getTotalItems()">
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="upload" value="1" />
        <input type="hidden" name="business" value="{{ settings.paypal.business }}" />
        <div ng-repeat="item in cartItems">
          <input type="hidden" name="item_name_{{ cartItems.indexOf(item)+1 }}" value="{{ item._name }}" />
          <input type="hidden" name="item_number_{{ cartItems.indexOf(item)+1 }}" value="{{ item._id }}" />
          <input type="hidden" name="amount_{{ cartItems.indexOf(item)+1 }}" value="{{ item._price }}" />
        </div>
        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}" />
        <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}" />
        <input type="hidden" name="button_subtype" value="services" />
        <input type="hidden" name="tax_cart" value="{{ ngCart.getTax()}}" />
        <input type="hidden" name="shipping_" value="{{ ngCart.getShipping()}}" />
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" ng-click="ngCart.empty()" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>

</div>
